/* 
reference palette
--light-blue: #C5DDDEff;
--dark-cyan: #44999Cff;
--selective-yellow: #FCB50Fff;
--verdigris: #78A9ABff;
--dark-slate-gray: #215C5Eff;
*/

body {
    font-family: Arial, sans-serif;
    background-color: #215C5Eff;
    color: #C5DDDEff;
}

main {
    min-height: 100px;
    background-color: darkslategray;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    flex: 0 0 80%;
}

li a {
    text-decoration: none;
    background-color: #78A9ABff;
    padding: 5px;
    color: #000000;
}

li {
    text-align: center;
    color: #00000000;
    background-color: #78A9ABff;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 200px;
    list-style-type: none;
    width: 80%;
}

#modify_header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(95, 135, 137);
}

#modify_header_image > img {
    text-align: center;
    flex: 0 0 20%;
    width: 80% !important;
    height: auto;
    }

.current {
    background-color: #C5DDDEff;
    text-transform: uppercase;
}

#neighborhood_walks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

#neighborhood_walks > img {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}

#walks_in_the_park {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

h1 {
    text-align: center;
    color: #FCB50Fff;
}

footer p {
    text-align: right;
    color: #FCB50Fff;
}